<strong>Sign in</strong>
<% if @failed_login %>
    <div class="error">
        Incorrect username or password.
    </div>
<% end %>
<%= form_for :session, remote: true, html: { data: { type: "json" }, class: 'new' }, url: sessions_path do |f| %>
    <div class="input">
        <div class="icon-container">
            <div class="icon user"></div>
        </div>
        <%= f.text_field :username, placeholder: "Username", autofocus: true %>
    </div>
    <div class="input">
        <div class="icon-container">
            <div class="icon lock"></div>
        </div>
        <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <% if flash[:redirect_to] %>
        <input type="hidden" name="redirect_to" value="<%= flash[:redirect_to] %>" />
    <% end %>
    <footer>
        <%= f.submit "Sign in", { class: "blue left", id: "session_submit" } %>
        <div class="icon loading left"></div>
        <%= link_to "Forgot your password?", new_password_reset_path, class: "right" %>
    </footer>
<% end %>
