<div id="outer-login-container">
    <div class="container" id="login-container">
        <h2>Register</h2>
        <% if @errors %>
            <div class="errors">
                <ul>
                    <% @errors.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= form_for @user do |f| %>
            <%= f.text_field :username, placeholder: "Username", autofocus: true, autocomplete: "off" %>
            <%= f.text_field :email, placeholder: "Email", autocomplete: "off" %>
            <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
            <%= f.password_field :password_confirmation, placeholder: "Password (confirm)", autocomplete: "off" %>
            <%= f.text_field :invite_code, placeholder: "Invite code" %>
            <%= link_to "Already have an account?", new_sessions_path %>
            <%= f.submit "Register", id: "session_submit" %>
        <% end %>
    </div>
</div>
