<!DOCTYPE html>
<html>
<head>
    <title>
        <% if content_for? :title %>
            <%= content_for :title %> &mdash; Voze
        <% else %>
            Voze
        <% end %>
    </title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div role="main" id="primary-container">
        <div class="container primary" id="header">
            <div id="logo">
                <%= link_to image_tag("voze_homepage.png", alt: "Voze"), root_path %>
            </div>
            
            <div class="container" id="user-tag">
                <div id="user-picture">
                    <%= link_to image_tag(current_user.gravatar_url), current_user %>
                </div>
                <div id="user-menu">
                    <%= link_to current_user.username, current_user, id: "user-name" %>
                    <ul id="user-links">
                        <li><%= link_to "Inbox", "/TODO messages path" %></li>
                        <li><%= link_to "Settings", "/TODO settings path" %></li>
                        <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
                    </ul>
                </div>
                <div id="user-info">
                    <ul id="user-stats">
                        <li><span class="stat-title">Down</span>: <span class="stat-data">230.3GB</span></li>
                        <li><span class="stat-title">Up</span>: <span class="stat-data">25.7GB</span></li>
                        <li><span class="stat-title">U/D Ratio</span>: <span class="stat-data ratio bad">11%</span></li>
                        <li><span class="stat-title">Required</span>: <span class="stat-data ratio good">52%</span></li>
                    </ul>
                </div>
            </div>

            <div id="nav">
                <ul>
                    <li><%= link_to "Dashboard", root_path %></li>
                    <li><%= link_to "Torrents", "/TODO torrent path" %></li>
                    <li><%= link_to "Forums", "/TODO forums path" %></li>
                </ul>
            </div>
        </div>
        
        <%= yield %>
        
        <div class="container primary" id="footer">
            <p>&copy; <%= Time.now.year %> This is most probably not a footer. Powered by <%= link_to "Voze", "http://www.voze.org/" %></p>
        </div>
    </div>
</body>
</html>