<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; Voze
            <% else %>
                Voze
            <% end %>
        </title>
        <script>document.getElementsByTagName('html')[0].className = 'js';</script>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <button id="toggle-grid">Toggle Grid</button>
        <div id="grid"></div>
        <button id="toggle-design">Toggle Design</button>
        <div id="design"></div>
        <header>
            <div class="container">
                <h1><%= link_to 'VOZE', root_path %></h1>
                <nav>
                    <ul>
                        <li><%= link_to "Torrents", torrents_path %></li>
                        <li><%= link_to "Requests", "/TODO requests path" %></li>
                        <li><%= link_to "Collections", "/TODO collections path" %></li>
                        <li><%= link_to "Forums", "/TODO forums path" %></li>
                        <li><%= link_to "Wiki", "/TODO wiki path" %></li>
                    </ul>
                </nav>
                <div class="right">
                    <div class="user">
                        <div class="avatar"><%= link_to image_tag(current_user.gravatar_url 80), current_user %></div>
                        <div class="username">charliesome</div>
                        <!--<div class="username"><%= link_to current_user.username, current_user, id: "user-name" %></div>-->
                        <div class="icon dropdown-arrow"></div>
                    </div>
                    <div class="bandwidth">
                        <div class="icon download"></div>
                        <div class="download">60.3 GB</div>
                        <!--<div class="download"><%= number_to_human_size current_user.download %></div>-->
                        <div class="icon upload"></div>
                        <div class="upload">13.2 GB</div>
                        <!--<div class="upload"><%= number_to_human_size current_user.upload %></div>-->
                    </div>
                    <div class="ratio">
                        <div class="icon current_ratio"></div>
                        <div class="bad current_ratio">0.21</div>
                        <!--<div class="bad current_ratio"><%= number_with_precision current_user.ratio, precision: 2 %></div>-->
                        <div class="icon required_ratio"></div>
                        <div class="good required_ratio">0.47</div>
                        <!--<div class="good required_ratio"><%= number_with_precision current_user.required_ratio, precision: 2 %></div>-->
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <% if content_for? :breadcrumb %>
                    <%= content_for :breadcrumb %>
                <% end %>
            </div>
        </nav>
        <%= yield %>
        <footer>
            <div class="container">
                 <p>Powered by <a href="#">Voze</a></p>
            </div>
        </footer>
        <%= javascript_include_tag "application" %>
    </body>
</html>