<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; Voze
            <% else %>
                Voze
            <% end %>
        </title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="header">
            <div id="header-container">
                <div class="center-container">
                    <a class="logo" href="#"><div class="logo"></div></a>
                    <ul id="nav">
                        <li><a href="#"><%= link_to "Torrents", "/TODO torrents path" %></a></li>
                        <li><a href="#"><%= link_to "Requests", "/TODO requests path" %></a></li>
                        <li><a href="#"><%= link_to "Collections", "/TODO collections path" %></a></li>
                        <li><a href="#"><%= link_to "Forums", "/TODO forums path" %></a></li>
                        <li><a href="#"><%= link_to "Wiki", "/TODO wiki path" %></a></li>
                    </ul>
                    <div id="user">
                        <div class="dropdown"></div>
                        <div class="avatar"><%= link_to image_tag(current_user.gravatar_url 80), current_user %></div>
                        <div class="column welcome">
                            <div class="message">Welcome,</div>
                            <div class="username"><a href="#"><%= link_to current_user.username, current_user, id: "user-name" %></a></div>
                        </div>
                        <div class="column bandwidth">
                            <div class="bandwidth-up"><span>Up:</span><span><%= number_to_human_size current_user.upload %></span></div>
                            <div class="bandwidth-down"><span>Down:</span><span><%= number_to_human_size current_user.upload %></span></div>
                        </div>
                        <div class="column ratio">
                            <div class="ratio-current"><span>Ratio:</span><span class="good"><%= number_with_precision current_user.ratio, precision: 2 %></span></div>
                            <div class="ratio-required"><span>Req:</span><span class="bad"><%= number_with_precision current_user.required_ratio, precision: 2 %></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="breadcrumbs">
            <div id="breadcrumbs-container">
                <div class="center-container">
                    <form id="search"><div class="icon"></div><input type="text" placeholder="Search"></form>
                </div>
        </div>
        <%= yield %>
    </body>
</html>