<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; Voze
            <% else %>
                Voze
            <% end %>
        </title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="overlay"></div>
        <header>
            <div class="container">
                <div class="center-container">
                    <h1><%= link_to root_path, {}, :class => 'logo' %></h1>
                    <nav>
                        <ul>
                            <li><%= link_to "Torrents", torrents_path %></li>
                            <li><%= link_to "Requests", "/TODO requests path" %></li>
                            <li><%= link_to "Collections", "/TODO collections path" %></li>
                            <li><%= link_to "Forums", "/TODO forums path" %></li>
                            <li><%= link_to "Wiki", "/TODO wiki path" %></li>
                        </ul>
                    </nav>
                    <div id="user">
                        <div class="dropdown"></div>
                        <div class="avatar"><%= link_to image_tag(current_user.gravatar_url 80), current_user %></div>
                        <div class="column welcome">
                            <div class="message">Welcome,</div>
                            <div class="username"><%= link_to current_user.username, current_user, id: "user-name" %></div>
                        </div>
                        <div class="column bandwidth">
                            <p><span>Up:</span><span><%= number_to_human_size current_user.upload %></span></p>
                            <p><span>Down:</span><span><%= number_to_human_size current_user.download %></span></p>
                        </div>
                        <div class="column ratio">
                            <p><span>Req:</span><span class="good"><%= number_with_precision current_user.required_ratio, precision: 2 %></span></p>
                            <p><span>Ratio:</span><span class="bad"><%= number_with_precision current_user.ratio, precision: 2 %></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="container">
                <div class="center-container">
                    <ul>
                        <li>
                            <a href="#">Torrents</a>
                            <div class="icon"></div>
                            <div class="container">
                                <ul>
                                    <li><a href="#">Top</a></li>
                                    <li><a href="#">Freeleech</a></li>
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Categories</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Categories</a>
                            <div class="icon"></div>
                            <div class="container">
                                <ul>
                                    <li><a href="#">Games</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Programs</a></li>
                                    <li><a href="#">TV Shows</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Music</a>
                            <div class="icon"></div>
                            <div class="container">
                                <ul>
                                    <li><a href="#">Top</a></li>
                                    <li><a href="#">Freeleech</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Lemaitre</a>
                            <div class="icon"></div>
                            <div class="container">
                                <ul>
                                    <li><a href="#">Albums</a></li>
                                    <li><a href="#">EPs</a></li>
                                    <li><a href="#">Singles</a></li>
                                    <li><a href="#">Compiliations</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Albums</a>
                            <div class="icon"></div>
                            <div class="container">
                                <ul>
                                    <li><a href="#">The Friendly Sound EP</a></li>
                                    <li><a href="#">Lemaitre</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="last-child"><span>Relativity 1</span></li>
                    </ul>
                    <form>
                        <input type="text" placeholder="Search" required>
                       <input type="submit" value="Search" class="icon">
                    </form>
                </div>
            </div>
        </nav>
        <%= yield %>
        <footer>
            <div class="container">
                <div class="center-container">
                    <p>Powered by <a href="#">Voze</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>