<!DOCTYPE html>
<html>
<head>
    <title>
        <% if content_for? :title %>
            <%= content_for :title %> &mdash; Voze
        <% else %>
            Voze
        <% end %>
    </title>
    <%= stylesheet_link_tag "light", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div role="main" class="sessions" id="primary-container">
        <%= yield %>
    </div>
</body>
</html>