<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; Voze
            <% else %>
                Voze
            <% end %>
        </title>
        <script>document.getElementsByTagName('html')[0].className = 'js';</script>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <section class="sessions">
            <header>
                <h1><%= link_to 'VOZE', root_path %></h1>
            </header>
            <section>
                <%= yield %>
            </section>
        </section>
        <%= javascript_include_tag "application" %>
    </body>
</html>