<div id="outer-login-container">
    <%= image_tag "voze_small.png", alt: "Voze" %>
    <div class="container" id="login-container">
        <h2>Sign in</h2>
        <% if @failed_login %>
            <p>Couldn't log in or some shit, gab can you make this look pretty?</p>
        <% end %>
        <%= form_for :session, url: sessions_path do |f| %>
            <%= f.text_field :username, placeholder: "Username" %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= link_to "I forgot my password", "/TODO" %>
            <%= f.submit "Sign in", id: "session_submit" %>
        <% end %>
    </div>
</div>