<div id="outer-login-container">
    <%= image_tag "voze_small.png", alt: "Voze" %>
    <div class="container" id="login-container">
        <h2>Sign in</h2>
        <% if @failed_login %>
            <div class="errors">
                Incorrect username or password
            </div>
        <% end %>
        <%= form_for :session, url: sessions_path do |f| %>
            <%= f.text_field :username, placeholder: "Username" %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= link_to "I forgot my password", new_password_reset_path %>
            <%= f.submit "Sign in", id: "session_submit" %>
        <% end %>
    </div>
</div>