<strong>Sign up</strong>
<% if @errors %>
    <ul class="error">
        <% @errors.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @user do |f| %>
<div class="input">
        <div class="icon-container">
            <div class="icon user"></div>
        </div>
        <%= f.text_field :username, placeholder: "Username", autofocus: true, autocomplete: "off" %>
    </div>
    <div class="input">
        <div class="icon-container">
            <div class="icon user"></div>
        </div>
        <%= f.text_field :email, placeholder: "Email", autocomplete: "off" %>
    </div>
    <div class="input">
        <div class="icon-container">
            <div class="icon lock"></div>
        </div>
        <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
    </div>
    <div class="input">
        <div class="icon-container">
            <div class="icon lock"></div>
        </div>
        <%= f.password_field :password_confirmation, placeholder: "Password (confirm)", autocomplete: "off" %>
    </div>
    <div class="input">
        <div class="icon-container">
            <div class="icon user"></div>
        </div>
        <%= f.text_field :invite_code, placeholder: "Invite code" %>
    </div>
    <footer>
        <%= f.submit "Sign up", class: "blue", id: "session_submit" %>
        <%= link_to "Already have an account?", new_sessions_path %>
    </footer>
<% end %>
