<div class="center-container main-content">
    <h1>New Torrent</h1>
    
    <% if @errors %>
        <div class="errors">
            <ul>
                <% @errors.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p style="padding:12px; background:#fdf2e2; border:1px solid #f6c983; margin-bottom:12px;">
        Please use this announce URL when creating your .torrent: <b><%= announce_url auth_token: current_user.auth_token %></b>
    </p>
    
    <%= form_for @torrent do |f| %>    
        <div>
            <%= f.label :torrent_file %>
            <%= f.file_field :torrent_file %>
        </div>
        
        <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        
        <%= f.submit "Upload" %>
    <% end %>
</div>