<section class="torrents new">
    <div class="container">
        <%= form_for @torrent do |f| %>
            <section>
                <h2>Upload a torrent</h2>
                <h3>About the torrent</h3>
                <div class="row name">
                    <%= f.label :name %>
                    <div class="input">
                        <%= f.text_field :name %>
                        <div class="icon help">
                            <div class="message">Help here. <a href="#">Learn more</a></div>
                        </div>
                    </div>
                </div>
                <div class="row description">
                    <%= f.label :description %>
                    <div class="input">
                        <%= f.text_area :description %>
                        <p><a href="#">Markdown</a> is supported. <span class="js-show"><a class="preview-markdown show" href="#">Display preview</a><a class="preview-markdown close" href="#">Hide preview</a></span></p>
                        <div class="preview-markdown full user-input"></div>
                        <div class="icon help">
                            <div class="message">Help here. <a href="#">Learn more</a></div>
                        </div>
                    </div>
                </div>
                <div class="row select-set">
                    <div class="left">
                        <label>Torrent type</label>
                        <select>
                            <option>Music</option>
                        </select>
                    </div>
                </div>
                <h3>Torrent file</h3>
                <div class="row announce-url">
                    <p>Your announce URL is <%= link_to personal_announce_url, personal_announce_url %></p>
                    <div class="icon help">
                        <div class="message">Help here. <a href="#">Learn more</a></div>
                    </div>
                </div>
                <div class="row torrent-file">
                    <label>Torrent file</label>
                    <div class="input">
                        <span class="js-show">
                            <input type="text" disabled>
                            <button>Browse</button>
                        </span>
                        <input class="js-invisible" type="file">
                        <div class="icon help">
                            <div class="message">Help here. <a href="#">Learn more</a></div>
                        </div>
                    </div>
                </div>
                <div class="row select-set">
                    <div class="left">
                        <label>Torrent version</label>
                        <select>
                            <option>MP3, 320 kbps</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Submit torrent" class="blue">
                </div>
            </section>
            <aside>
                <div id="art">
                    <div class="preview-art">
                        <img>
                        <div class="close"></div>
                    </div>
                    <span class="select">
                        <span>Drop torrent art here or</span>
                        <button class="js-show">Browse</button>
                        <input class="js-invisible" type="file">
                    </span>
                </div>
            </aside>
        <% end %>
    </div>
</section>
