<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; Voze
            <% else %>
                Voze
            <% end %>
        </title>
        <!--[if lt IE 9]><script src="/scripts/html5shiv-3.6.min.js"></script><![endif]-->
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= csrf_meta_tags %>
    </head>
    <body ontouchstart="">
        <section class="sessions">
            <header>
                <h1><%= link_to 'VOZE', root_path %></h1>
            </header>
            <section>
                <%= yield %>
            </section>
        </section>
        <%= javascript_include_tag "application" %>
    </body>
</html>
