<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            <% if content_for? :title %>
                <%= content_for :title %> &mdash; <%= AppConfig.site_name %>
            <% else %>
                <%= AppConfig.site_name %>
            <% end %>
        </title>
        <!--[if lt IE 9]><script src="/scripts/html5shiv-3.6.min.js"></script><![endif]-->
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,700" media="all" rel="stylesheet" type="text/css" />
        <%= stylesheet_link_tag "application", media: "all", debug: false %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <section class="sessions">
            <header>
                <h1 class="logo"><%= link_to AppConfig.site_name, root_path %></h1>
            </header>
            <section>
                <%= yield %>
            </section>
        </section>
        <%= javascript_include_tag "application", debug: false %>
    </body>
</html>
